
.color-1{
    color: rgb(26, 26, 26);
}
.color-2{
    color: #39108B;
}
/* .body-color{
    background-color: rgba(255, 255, 255, 0.972)
} */
.bg-color{
    background-color: #F7F3FF ;
}
.object-fit{
    object-fit: cover;
}
